.game-section {
    margin: auto;
    height: 400px;
    width: 400px;
}

.timer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-height: min-content
}

.tile {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    border: 2px black solid;
    vertical-align: middle;
    font-size: 32px;
    font-family: sans-serif;
    line-height: 100px;
}

.tile:active {
    border: aquamarine solid 2px;
    transition: transform .2s;
}

.tile:hover {
    border-color: red !important;
    text-decoration: underline !important;
    color: green;
}

#one      { background-position: 0      0;      }
#two      { background-position: -100px 0;      }
#three    { background-position: -200px 0;      }
#four     { background-position: -300px 0;      }
#five     { background-position: 0      -100px; }
#six      { background-position: -100px -100px; }
#seven    { background-position: -200px -100px; }
#eight    { background-position: -300px -100px; }
#nine     { background-position: 0      -200px; }
#ten      { background-position: -100px -200px; }
#eleven   { background-position: -200px -200px; }
#twelve   { background-position: -300px -200px; }
#thirteen { background-position: 0      -300px; }
#fourteen { background-position: -100px -300px; }
#fifteen  { background-position: -200px -300px; }
#sixteen  { border: 2px solid white !important; }

.move-up {
    transform: translate(0, -100px);
}

.move-down {
    transform: translate(0, 100px);
}

.move-left {
    transform: translate(-100px, 0);
}

.move-right {
    transform: translate(100px, 0);
}